[submodule "src/bladeGPS"]
	path = src/bladeGPS
	url = https://github.com/osqzss/bladeGPS.git
[submodule "bladeRF"]
	path = bladeRF
	url = https://github.com/Nuand/bladeRF
[submodule "gr-osmosdr"]
	path = gr-osmosdr
	url = https://github.com/osmocom/gr-osmosdr.git
